#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/buildflags.mk

CFLAGS  += -fvisibility=hidden
LDFLAGS += -Wl,-z,defs -Wl,--as-needed

export XDG_RUNTIME_DIR=/tmp
export HOME=/tmp

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	--disable-elementary-test \
	--disable-silent-rules --enable-static

override_dh_makeshlibs:
	dh_makeshlibs -Xmodule.so

override_dh_strip:
	dh_strip --dbg-package=libelementary-dbg

override_dh_install:
	dh_install --list-missing
